$default-background: #222;
$success-background: #107309;
$danger-background: #ab0707;
$info-background: #0f5dbd;
$warn-background: #bd7914;
$opacity: 0.95;

.blearui-tips {
  text-align: center;
  display: inline-block;
  border-radius: 6px;
  font-size: 14px;
  line-height: 1.5;
  padding: 10px 17px;
  color: #fff;
  -ms-word-break: break-all;
  word-break: break-all;
  word-wrap: break-word;
  max-width: 300px;

  &_default {
    background: rgba($default-background, $opacity);
    box-shadow: 0 0 50px 0 $default-background;
  }

  &_success {
    background: rgba($success-background, $opacity);
    box-shadow: 0 0 50px 0 $success-background;
  }

  &_danger {
    background: rgba($danger-background, $opacity);
    box-shadow: 0 0 50px 0 $danger-background;
  }

  &_info {
    background: rgba($info-background, $opacity);
    box-shadow: 0 0 50px 0 $info-background;
  }

  &_warn {
    background: rgba($warn-background, $opacity);
    box-shadow: 0 0 50px 0 $warn-background;
  }
}
